.corpoLogin{
    --background:#ffffff url("../../../assets/img/fundo-home.png")no-repeat center / cover;
    text-align: center;
}
.corpoLogin img{
    width: 60%;
    margin-top: 15%;
}
h1{
    font-size: 2em;
    margin-top: 10px;
}
ion-row{
    margin-bottom: 25%;
}
ion-item{
    padding: 2% 4%;
}
ion-button{
    width: 90%;
    margin: 2% auto;
}
.loginItem{
    margin-top: 30%;
    padding-bottom: 5%;
}
.itemInput{
    opacity: .8;
    --background: #9f87bb;
}
.btn-fundo{
    --background: #9f87bb;
}
.btn{
    color: #333;
}
.borda{
    border-color: #9f87bb;
}