<ion-content class="corpoLogin">
  <img src="../../../assets/img/logo.png" alt="logo kiBeleza"/>

  <ion-row>
    <ion-col size="12"><h1>Seja Bem Vindo!!</h1></ion-col>
  </ion-row>

  <ion-item class="loginItem itemInput">
    <ion-icon name="mail" color="primary" slot="start"></ion-icon>
    <ion-input type="email" placeholder="Email:" autofocus="true" inputmode="mail"></ion-input>
  </ion-item>
  <ion-item class="itemInput ">
    <ion-icon name="lock-closed" color="primary" slot="start"></ion-icon>
    <ion-input type="password" placeholder="Senha:"></ion-input>
  </ion-item>
  
  <ion-button class="btn-fundo" expand="block">Entrar</ion-button>
  <ion-button class="btn borda" expand="block" fill="outline" href="/tabs/pg/cadastro">Cadastro</ion-button>
  
</ion-content>
