<ion-content class="corpoCadastro">
  <img src="../../../assets/img/logo.png" alt="logo kiBeleza"/>

  <ion-row>
    <ion-col size="12"><h1>Seja Bem Vindo!!</h1></ion-col>
  </ion-row>

<!--form [formGroup]="cadastro" (ngSubmit)="cadCliente()"-->
<form>

  <ion-item class="loginItem itemInput">
    <ion-icon name="person" color="primary" slot="start"></ion-icon>
    <ion-input type="text" placeholder="Nome:" autofocus="true" inputmode="text"></ion-input>
  </ion-item>

  <ion-item class="loginItem itemInput">
    <ion-icon name="mail" color="primary" slot="start"></ion-icon>
    <ion-input type="email" placeholder="Email:" inputmode="mail"></ion-input>
  </ion-item>
  
  <ion-item class="itemInput ">
    <ion-icon name="lock-closed" color="primary" slot="start"></ion-icon>
    <ion-input type="password" placeholder="Senha:"></ion-input>
  </ion-item>

  <ion-button type="submit" class="btn-fundo" expand="block">Entrar</ion-button>

</form>

</ion-content>
