<!--Botões Home e Logo-->
<ion-content class="corpoMenu ">
  <img src="../../../assets/img/logo.png" alt="logo kiBeleza"/>

  <ion-row class="linhaHome">
    <ion-col size="6">
      <ion-tab-button tab="sobre">
        <img src="../../../assets/img/btn_home.png" alt="Botão sobre"/>
      </ion-tab-button>
    </ion-col>

    <ion-col size="6">
      <ion-tab-button tab="lista-servico">
        <img src="../../../assets/img/btn_home2.png" alt="Botão sobre"/>
      </ion-tab-button>
    </ion-col>
  </ion-row>
  <!--Slide-->
  <ion-row class="linhaSlide">
    <ion-col size="12">
      <ion-slides>
        <ion-slide>
          <img src="../../../assets/img/banner.png" alt="Banner KiBeleza">
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/img/banner.png" alt="Banner KiBeleza">
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/img/banner.png" alt="Banner KiBeleza">
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>

  <!--Redes Sociais-->
  <ion-row class="linhaSocial">
    <ion-col size="3">
        <img src="../../../assets/img/twitter.png" alt="Twitter"/>
    </ion-col>
    <ion-col size="3">
        <img src="../../../assets/img/facebook.png" alt="Facebook"/>
    </ion-col>
    <ion-col size="3">
        <img src="../../../assets/img/instagram.png" alt="Instagram"/>
    </ion-col>
    <ion-col size="3">
        <img src="../../../assets/img/linkedin.png" alt="Linkedin"/>
    </ion-col>
  </ion-row>

</ion-content>