.corpoMenu{
    --background:#ffffff url("../../../assets/img/fundo-home.png")no-repeat center / cover;
    text-align: center;
}
.corpoMenu img{
    width: 60%;
    margin-top: 15%;
}
.linhaHome img{
    width: 98%;
}
.linhaSlide img{
    width: 88%;
    margin-top: 25%;
}
.linhaSlide ion-slides{
    margin-top: -25%;
}
.linhaSocial{
    margin: 5% 0;
}
.linhaSocial img{
    width: 50%;
}