.corpoPerfil{
    --background:#ffffff url("../../../assets/img/fundo-perfil.png")no-repeat center / cover;
    text-align: center;
}
ion-toolbar{
    --background:#9F87BB ;
}
ion-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 2% 0;
}