<ion-header>
  <ion-toolbar>
    <ion-title>Reserva - Serviço 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="corpoReserva">
   
  <ion-row class="linhaSlide">
    <ion-col size="12">
      <ion-slides>
        <ion-slide>
          <img src="../../../assets/img/banner.png" alt="Banner KiBeleza">
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/img/banner2.png" alt="Banner KiBeleza">
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/img/banner.png" alt="Banner KiBeleza">
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <h1>SOLICITAR AGENDAMENTO</h1>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <form>
        <ion-item>
          <ion-label>Func</ion-label>
          <ion-select placeholder="Selecione o funcionário" okText="Confirmar" cancelText="Fechar">
            <ion-select-option value="f">Func 01</ion-select-option>
            <ion-select-option value="m">Func 02</ion-select-option>
            <ion-select-option value="m">Func 03</ion-select-option>
            <ion-select-option value="m">Func 04</ion-select-option>
          </ion-select>
        </ion-item>
      </form>
  </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-item>
            <ion-label>Data e Hora</ion-label>
            <ion-datetime displayFormat="D MMM HH:mm" 
              monthShortNames="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
              hourValues="07, 08, 09, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20"
              minuteValues="0, 30" 
              doneText="Confirmar" cancelText="Fechar">
            </ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button href="/tabs/pg/reserva" expand="block">Reserva</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="linhaSocial">
    <ion-col size="3">
        <img src="../../../assets/img/twitter.png" alt="Twitter"/>
    </ion-col>
    <ion-col size="3">
        <img src="../../../assets/img/facebook.png" alt="Facebook"/>
    </ion-col>
    <ion-col size="3">
        <img src="../../../assets/img/instagram.png" alt="Instagram"/>
    </ion-col>
    <ion-col size="3">
        <img src="../../../assets/img/linkedin.png" alt="Linkedin"/>
    </ion-col>
  </ion-row>

</ion-content>
