.corpoReserva{
    --background:#ffffff url("../../../assets/img/fundo-sobre.png")no-repeat center / cover;
    text-align: center;
}
ion-toolbar{
    --background:#9F87BB ;
}
ion-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 2% 0;
}
.linhaSocial{
    margin: 5% 0;
}
.linhaSocial img{
    width: 50%;
}