.corpoSobre{
    --background:#ffffff url("../../../assets/img/fundo-sobre.png")no-repeat center / cover;
    text-align: center;
}
ion-toolbar{
    --background:#9F87BB ;
}
ion-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 2% 0;
}
.corpoDetalhe{
    text-align: center;
}
.corpoDetalhe img{
    width: 60%;
    margin-top: 15%;
}
.corpoDetalhe p{
    text-align: justify;
    padding: 5%;
}
.linhaSlide img{
    width: 88%;
    margin-top: 30%;
}
.linhaSlide ion-slides{
    margin-top: -25%;
}
.linhaSocial{
    margin: 5% 0;
}
.linhaSocial img{
    width: 50%;
}