<ion-header>
  <ion-toolbar>
    <ion-title>Detalhe Serviço</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="corpoDetalhe">

    <!--Slide-->
  <ion-row class="linhaSlide">
    <ion-col size="12">
      <ion-slides>
        <ion-slide>
          <img src="../../../assets/img/banner2.png" alt="Banner KiBeleza">
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/img/banner2.png" alt="Banner KiBeleza">
        </ion-slide>
        <ion-slide>
          <img src="../../../assets/img/banner2.png" alt="Banner KiBeleza">
        </ion-slide>
      </ion-slides>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
      </p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="12">
      <ion-button href="/tabs/pg/reserva" expand="block">Reserva</ion-button>
    </ion-col>
  </ion-row>

</ion-content>