ion-toolbar{
    --background:#9F87BB;
}
ion-title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    padding: 2% 0;
}
.pesquisa{
    --background:#3D3D3F;
}
.sc-ion-searchbar-md-h{
    --background:#C7B8D8AD;
}
ion-row{
    background: rgba(159, 135, 187, 0.5);
}
ion-row:nth-child(even){
    background:rgba(61, 61, 63, 0.5);
}
.servicoItem h2{
    margin-top: 0;
    color: #3D3D3F;
    font-size: 1.2em;
}
.servicoItem p{
    font-size: .7em;
}
.iconDetalhe{
    float: right;
    font-size: 1.5em;
    margin-top: -15px;
}
ion-toolbar.sc-ion-searchbar-ios-h, ion-toolbar .sc-ion-searchbar-ios-h {
    padding-bottom: 0;
}