<ion-header>
  <ion-toolbar>
    <ion-title>Serviços</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Searchbar in a Toolbar -->
<ion-toolbar class="pesquisa">
  <ion-searchbar></ion-searchbar>
</ion-toolbar>

<ion-row>
  <ion-col size="4">
    <img src="../../../assets/img/servico1.png" alt="serviço kiBeleza">
  </ion-col>
  <ion-col size="8" class="servicoItem">
    <h2>Serviço 1</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <a href="/tabs/pg/detalhe" class="iconDetalhe">
      <ion-icon name="caret-forward-outline"></ion-icon>
    </a>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="4">
    <img src="../../../assets/img/servico1.png" alt="serviço kiBeleza">
  </ion-col>
  <ion-col size="8" class="servicoItem">
    <h2>Serviço 2</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <a href="/tabs/pg/detalhe" class="iconDetalhe">
      <ion-icon name="caret-forward-outline"></ion-icon>
    </a>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="4">
    <img src="../../../assets/img/servico1.png" alt="serviço kiBeleza">
  </ion-col>
  <ion-col size="8" class="servicoItem">
    <h2>Serviço 3</h2>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    <a href="/tabs/pg/detalhe" class="iconDetalhe">
      <ion-icon name="caret-forward-outline"></ion-icon>
    </a>
  </ion-col>
</ion-row>

</ion-content>